<header>
    <h2>Gerenciador de pessoas</h2>
    <nav>
        <a href = "/">Home</a>
        <a href = "/login">Login</a>
        <a href = "/dashboard">Admin</a>
        <a href = "/sobre">Sobre</a>
    </nav>
</header>