<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= titulo %></title>
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>

    <main class = "container">
        <h1><%= mensagem %></h1>
        <p>Veja as informações dos usuários que logaram aqui</p>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>