<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= titulo %></title>

    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main class = "container">
        <h1>Login</h1>
        <% if (error) { %>
            <p class = "error"></p>
        <% } %>
        <form action = "/login">

            <label for="username">Usuário:</label>
            <input type = "text" id = "username" name = "username" required>

            <label for="age">Idade:</label>
            <input type = "number" id = "age" name = "age" required>

            <label for="profession">Profissão:</label>
            <select id = "profession" name = "profession" required>
                <option value = "">Escolha sua profissão</option>
                <option value = "Dentista">Dentista</option>
                <option value = "Aposentado">Aposentado</option>
                <option value = "Médico">Médico</option>
                <option value = "Professor">Professor</option>
                <option value = "Ator">Ator</option>
                <option value = "Cientista">Cientista</option>
                <option value = "Aluno">Aluno</option>
                <option value = "Policial">Policial</option>
                <option value = "Escritor">Escritor</option>
                <option value = "Reporter">Reporter</option>
                <option value = "CEO">CEO</option>
                <option value = "Engenheiro">Engenheiro</option>
                <option value = "Artista">Artista</option>
            </select>

            <label for="country">País:</label>
            <select id = "country" name = "country" required>
                <option value = "">Escolha seu país</option>
                <option value="AF">Afeganistão</option>
                <option value="ZA">África do Sul</option>
                <option value="AL">Albânia</option>
                <option value="DE">Alemanha</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="SA">Arábia Saudita</option>
                <option value="DZ">Argélia</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armênia</option>
                <option value="AU">Austrália</option>
                <option value="AT">Áustria</option>
                <option value="AZ">Azerbaijão</option>
                <option value="BE">Bélgica</option>
                <option value="BJ">Benin</option>
                <option value="BY">Bielorrússia</option>
                <option value="BO">Bolívia</option>
                <option value="BA">Bósnia e Herzegovina</option>
                <option value="BW">Botsuana</option>
                <option value="BR">Brasil</option>
                <option value="BG">Bulgária</option>
                <option value="CV">Cabo Verde</option>
                <option value="CM">Camarões</option>
                <option value="CA">Canadá</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CY">Chipre</option>
                <option value="CO">Colômbia</option>
                <option value="CG">Congo</option>
                <option value="KR">Coreia do Sul</option>
                <option value="KP">Coreia do Norte</option>
                <option value="CR">Costa Rica</option>
                <option value="HR">Croácia</option>
                <option value="CU">Cuba</option>
                <option value="DK">Dinamarca</option>
                <option value="EG">Egito</option>
                <option value="SV">El Salvador</option>
                <option value="AE">Emirados Árabes Unidos</option>
                <option value="EC">Equador</option>
                <option value="ES">Espanha</option>
                <option value="US">Estados Unidos</option>
                <option value="EE">Estônia</option>
                <option value="ET">Etiópia</option>
                <option value="PH">Filipinas</option>
                <option value="FI">Finlândia</option>
                <option value="FR">França</option>
                <option value="GA">Gabão</option>
                <option value="GM">Gâmbia</option>
                <option value="GH">Gana</option>
                <option value="GR">Grécia</option>
                <option value="GT">Guatemala</option>
                <option value="GY">Guiana</option>
                <option value="HT">Haiti</option>
                <option value="NL">Holanda</option>
                <option value="HN">Honduras</option>
                <option value="HU">Hungria</option>
                <option value="IN">Índia</option>
                <option value="ID">Indonésia</option>
                <option value="IQ">Iraque</option>
                <option value="IR">Irã</option>
                <option value="IE">Irlanda</option>
                <option value="IS">Islândia</option>
                <option value="IL">Israel</option>
                <option value="IT">Itália</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japão</option>
                <option value="JO">Jordânia</option>
                <option value="KZ">Cazaquistão</option>
                <option value="KE">Quênia</option>
                <option value="KW">Kuwait</option>
                <option value="LA">Laos</option>
                <option value="LV">Letônia</option>
                <option value="LB">Líbano</option>
                <option value="LY">Líbia</option>
                <option value="LT">Lituânia</option>
                <option value="LU">Luxemburgo</option>
                <option value="MG">Madagáscar</option>
                <option value="MY">Malásia</option>
                <option value="MW">Malawi</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MA">Marrocos</option>
                <option value="MX">México</option>
                <option value="MZ">Moçambique</option>
                <option value="NA">Namíbia</option>
                <option value="NP">Nepal</option>
                <option value="NI">Nicarágua</option>
                <option value="NG">Nigéria</option>
                <option value="NO">Noruega</option>
                <option value="NZ">Nova Zelândia</option>
                <option value="OM">Omã</option>
                <option value="PK">Paquistão</option>
                <option value="PA">Panamá</option>
                <option value="PG">Papua-Nova Guiné</option>
                <option value="PY">Paraguai</option>
                <option value="PE">Peru</option>
                <option value="PL">Polônia</option>
                <option value="PT">Portugal</option>
                <option value="QA">Qatar</option>
                <option value="GB">Reino Unido</option>
                <option value="CF">República Centro-Africana</option>
                <option value="CZ">República Tcheca</option>
                <option value="DO">República Dominicana</option>
                <option value="RO">Romênia</option>
                <option value="RU">Rússia</option>
                <option value="RW">Ruanda</option>
                <option value="WS">Samoa</option>
                <option value="SN">Senegal</option>
                <option value="RS">Sérvia</option>
                <option value="SG">Singapura</option>
                <option value="SY">Síria</option>
                <option value="SK">Eslováquia</option>
                <option value="SI">Eslovênia</option>
                <option value="SO">Somália</option>
                <option value="LK">Sri Lanka</option>
                <option value="SE">Suécia</option>
                <option value="CH">Suíça</option>
                <option value="SR">Suriname</option>
                <option value="TH">Tailândia</option>
                <option value="TW">Taiwan</option>
                <option value="TZ">Tanzânia</option>
                <option value="TJ">Tajiquistão</option>
                <option value="TL">Timor-Leste</option>
                <option value="TN">Tunísia</option>
                <option value="TR">Turquia</option>
                <option value="UA">Ucrânia</option>
                <option value="UG">Uganda</option>
                <option value="UY">Uruguai</option>
                <option value="UZ">Uzbequistão</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Vietnã</option>
                <option value="YE">Iémen</option>
                <option value="ZM">Zâmbia</option>
                <option value="ZW">Zimbábue</option>
            </select>

            <label for="phonenumber">Telefone:</label>
            <input type = "tel" id = "phonenumber" name = "phonenumber" placeholder = "(00) 91234-5678" required>

            <button type = "submit">Entrar</button>
        </form>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>